<form class="form" action="/posts/logarusuario" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" style="width:500px;">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control mx-auto" id="exampleInputPassword1" style="width:250px;" name="senha">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>